<!DOCTYPE html>
<html>
  <head>
    <title>Candelabro</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="chandelure">
      <img src="/images/chandelure.png" alt="">
    </div>
    <div class="brillo text-flicker-in-glow">
      <img src="/images/brillo chandelure.png" alt="">
    </div>
  </body>
</html>
